@{
    ViewBag.Title = "Home Page";

}
@ViewBag.Message

<h3>Reverse a string using C#</h3>
@using (Html.BeginForm("Result", "Home", FormMethod.Post))
{
    <div>
        <input type="text" name="text" />
        <br />
        <button type="submit">Reverse</button>
    </div>
}
@ViewBag.Reverse

<br />
@using (Html.BeginForm("RegMethod", "Home", FormMethod.Post))
{
    <div>
        <input type="text" name="text" />
        <br />
        <button type="submit">Reverse</button>
    </div>
}