

    @{ var result = "";
            if (IsPost)
            {
                result = "This page was posted using the Submit button.";
            }
            else
            {
                result = "This was the first request for this page.";
            }
    }

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <form method="post" action="">
        <input type="submit" name="submit" value="submit"/>
        <p>@result</p>

    </form>
</body>
</html>
