@{

    //Razor C# code to reverse a string
    var Output = "";
    if (IsPost)
    {
        // Retrieve the string that the user entered.
        var textIn = Request["textIn"];


        // Creates a new output string and feeds it each char from the input string starting from the last.
        var textOut = "";
        for (var c = textIn.Length - 1; c >= 0; c--)
        {
            textOut += textIn[c];
        }
        // Output the resulting reversed string
        Output += "Reversed String: " + textOut;
    }
}

<!DOCTYPE html>
<html lang="=en">
<head>
    <title>Reverse a string</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        form {
            padding: 10px;
            border-style: solid;
            width: 250px;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <p>Enter a string to reverse using Razor.</p>
    <form action="" method="post">
        <p>
            <label for="textIn">String:</label>
            <input type="text" name="textIn" />
        </p>
        
        <p><input type="submit" value="Reverse" /></p>
    </form>

    <p>@Output</p>

    <hr />
  
<p>Enter a string to reverse using jQuery.</p>
    <form action="" method="post">
        <p>
            <label id="textIn">String:</label>
            <input type="text" id="jQtextIn" />
        </p>
        
        <button type="button" id="jQSubmit">Reverse</button>
    </form>

    <p id="jQReversedString"></p>

    <hr />
    <p>Reverse a string using JavaScript</p>
    <form>
        <input type="text" id="s" />
        <button type="button" id="submit" onclick="reverseString()">submit</button>


    </form>
    <p id="reversedString"></p>

    <script>
       @*jQuery code to reverse a string*@
            $('#jQSubmit').click(function () {
                var o = $('#jQtextIn').val().split('').reverse().join('');
                $('#jQReversedString').html("Reversed string: " + o);
            })
        @*JavaScript code to reverse a string*@
            function reverseString() {
                var s = document.getElementById("s").value;
                var o = '';
                for (var c = s.length - 1; c >= 0 ; c--) {
                    o += s[c];
                }
                document.getElementById("reversedString").innerHTML = "Reversed string: " + o;
            }

    </script>

</body>
</html>