@{

    //Razor C# code to reverse a string
    var Output = "";
    if (IsPost)
    {
        // Retrieve the string that the user entered.
        var textIn = Request["textIn"];


        // Creates a new output string and feeds it each char from the input string starting from the last.
        var textOut = "";
        for (var c = textIn.Length - 1; c >= 0; c--)
        {
            textOut += textIn[c];
        }
        // Output the resulting reversed string
        Output += "Reversed string: " + textOut;
    }
}

<!DOCTYPE html>
<html lang="=en">
<head>
    <title>Reverse a string</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        form {
            padding: 10px;
            border-style: solid;
            width: 250px;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>Enter a string to reverse using <br />Razor.</p>
                <form action="" method="post">
                    <p>
                        <label for="textIn">String:</label>
                        <input type="text" name="textIn" />
                    </p>

                    <p><input type="submit" value="Reverse" /></p>
                </form>

                <p>@Output</p>
                @*begin modal to display code*@
                <div class="container">

                </div>
            </div>
            <div class="col-sm-4">
                <p>Enter a string to reverse using jQuery.</p>
                <form action="" method="post">
                    <p>
                        <label id="textIn">String:</label>
                        <input type="text" id="jQtextIn" />
                    </p>

                    <button type="button" id="jQSubmit">Reverse</button>
                </form>

                <p id="jQReversedString"></p>

                <hr />

            </div>
            <div class="col-sm-4">
                <p>Enter a string to reverse using JavaScript.</p>
                <form>
                    <p>
                        <label id="textIn">String:</label>
                        <input type="text" id="s" />
                    </p>
                        <button type="button" id="submit" onclick="reverseString()">Reverse</button>
                    
                </form>
                <p id="reversedString"></p>
            </div>
        </div>
    </div>
    <script>
       @*jQuery code to reverse a string*@
            $('#jQSubmit').click(function () {
                var o = $('#jQtextIn').val().split('').reverse().join('');
                $('#jQReversedString').html("Reversed string: " + o);
            })
        @*JavaScript code to reverse a string*@
            function reverseString() {
                var s = document.getElementById("s").value;
                var o = '';
                for (var c = s.length - 1; c >= 0 ; c--) {
                    o += s[c];
                }
                document.getElementById("reversedString").innerHTML = "Reversed string: " + o;
            }

    </script>

</body>
</html>